.botao {
    background-color: #6278f7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    margin-top: 2rem;
    padding: 23px;
}

.botao:hover {
    color: #95FFD4;
}